%heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary;
  font-weight: 600;
}

%body {
  margin: 0;
  font-family: $font-secondary;
  font-weight: 400;
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  border-radius: $rounded-full;
  font-family: $font-sfPro;
}

%heading-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 18px;
  margin-bottom: 64px;

  h2 {
    color: $color-primary-100;
    font-size: $font-size-h2;
    text-transform: uppercase;
    font-family: $font-ivyMode;
    font-weight: $font-weight-light;
  }

  &>div {
    width: 100%;
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-primary-40;

    p {
      font-size: $font-size-medium;
      //font-weight: $font-weight-light;
      font-family: $font-sfPro;
      color: $color-primary-80;
      width: 950px;
    }

    &>div {
      @include respond(tablet) {
        display: none;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      i {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        color: $color-primary-80;
        line-height: 52px;
        text-align: center;
        border: 1px solid $color-primary-80;
      }
    }
  }
}